$color1: white;
$color2: #e61c5d;
$color3: #ba154a;
$color4: #343a40;
$color5: black;
$color6: dimgrey;
$color7: #1a1a1a;
$color8: seagreen;

$font-family1: 'Playfair Display', serif;
$font-family2: 'Mukta Mahee', sans-serif;
$font-family3: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;